@charset "utf-8";

html,body{height: 100%;}

#header_top .logo{background: red;height: 50px;padding: 0 10px;}

/* .sldierWrap li img{width: 100%;} */

.bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border: 0 none;
    background: #fff;
}

.sldierWrap .slideTxt{
    position: absolute;left: 50%;top: 30%;
    transform: translate(-50%,-50%);
    width: 500px;text-align: center;
}
.sldierWrap .slideTxt h3{font-size: 3em;}




/* pc버전 */
@media screen and ( min-width:700px ){
    #main_header{height: 1950px;background: #ddd;}

    #header_top{
        width: 1240px;background: pink;z-index: 1;
        position: fixed;left: 50%;transform: translateX(-50%);top: 20px;
        display: flex;justify-content: space-between;align-items: center;
    }
    
    #header_top .gnb{background: skyblue;}
    #header_top .gnb li{float: left;}
    #header_top .gnb li>a{display: block;line-height: 50px;text-align: center;padding: 0 30px;}
    .toggle{display: none;}

    .sldierWrap .li_1st,.sldierWrap .li_2st{
        height: 1000px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .sldierWrap .li_1st{background-image: url(../images/mainimg01.jpg);}
    .sldierWrap .li_2st{background-image: url(../images/mainimg02.jpg);}

    
}




/* 모바일 버전 */
@media screen and ( max-width:699px ){
    #main_header{background: #ddd;}

    #header_top{
        background: pink;padding: 0 16px;
        position: fixed;width: 100%;
        display: flex;justify-content: space-between;align-items: center;
        z-index: 1;
    }
    
    #header_top .gnb{display: none;}

    .toggle{display: block;}
    .toggle{
        width: 40px;height: 40px;
        background: #000;position: relative;
    }
    .toggle div{
        position: absolute;
        width: 25px;height: 3px;
        background: #fff;
        top: 50%;left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 5px;
    }
    .toggle .bar1{top: 10px;}
    .toggle .bar3{top: 30px;}

    .sldierWrap .li_1st,.sldierWrap .li_2st{
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .sldierWrap .li_1st{background-image: url(../images/mainimg01.jpg);}
    .sldierWrap .li_2st{background-image: url(../images/mainimg02.jpg);}

    .sldierWrap .slideTxt{width: 300px;top: 50%;}
    
}