@charset "utf-8";
body{font-family: 'GowunBatang-Bold','GowunBatang-Regular';overflow: hidden;}
@font-face {
    font-family: 'GowunBatang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* header  */
header{width: 100%;height: 80px;position: fixed;padding: 20px 40px;z-index: 1;}
.Mlogo{opacity: 0; transition: 0.3s;}
.Mlogo.on{opacity: 1;}
.section{background: #FFEB60;}

.Mlogo{
    width: 25px;height: 25px;
    background-image: url(../images/millie-union1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;

}
.loginWrap{
    display: flex;_position: absolute;
    /* top: 25px;right: 100px; */
}
.loginWrap .login1{
    width: 70px;height: 30px;
    background-image: url(../images/login_type1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;margin-right: 10px;
    cursor: pointer;
}
.loginWrap .login2{
    width: 95px;height: 30px;
    background-image: url(../images/product_purple.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}



/* page1  */

.scrollBtn{
    position: absolute;bottom: 30px;
    left: 50%;transform: translateX(-50%);
    animation: xScroll 0.8s infinite alternate;
    z-index: 10;
}
.scrollBtn img{width: 60px;}
@keyframes xScroll {to{bottom: 50px;}}
.mainWrap{position: absolute;left: 20%;top: 10%;}

.page1 .bgimg1{
    width: 65px;height: 25px;margin-bottom: 20px;
    /* position: absolute;top: 0;left: 50%; */
    background-image: url(../images/millieLogo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.page1 .textWrap .text1{
    font-family: 'GowunBatang-bold';
    font-size: 76px;
    /* font-size: 5vw; */
}
.page1 .textWrap .text2{
    font-family: 'GowunBatang-regular';
    font-size: 22px;
    /* font-size: 1.3vw; */
    font-weight: bolder;
}
.page1 .mainWrap{opacity: 0;transition: 2s;}
.page1 .mainWrap.move{opacity: 1;}



.page1 .bgimg2{
    width: 1000px;height: 650px;
    position: absolute;bottom: 0;left: 50%;transform: translate(-25%);
    background-image: url(../images/headerBgImg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.page1 .bgimg3{
    width: 55px;height: 55px;
    position: absolute;top: 0;left: 370px;
    transform: translate(-28%,-500%);
    background-image: url(../images/headerBgBook1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition:1s;
    opacity:0
}
.page1 .bgimg3.move{
    transform: translate(0,160px);
    opacity:1

}



.page1 .bgimg4{
    width: 35px;height: 35px;
    position: absolute;top: 0px;left: 450px;
    background-image: url(../images/headerBgBook2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition:1s;
    transition-delay: 0.5s;
    opacity:0;
}
.page1 .bgimg4.move{
    transform: translate(0,175px);
    opacity: 1;
}




/* page2  */
.page2 .introtext{
    width: 194px;height: 199px;
    background-image: url(../images/introStart_text.svg);
    position: absolute;left: 50%;top: 50%;
    transform: translate(-50%,-50%);z-index: 2;
    
}
.page2 .shelf1{
    width: 436px;height: 76px;
    background-image: url(../images/introStart_shelf1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate(0,-50%);
    position: absolute;top: 50%;left: -9999px;
    transition: 0.3s;
}
.page2 .shelf1.move{
    position: absolute;top: 50%;left: 300px;
}
.page2 .shelf2{
    width: 436px;height: 76px;
    background-image: url(../images/introStart_shelf3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;top: 30%;right: -9999px;
    transition: 0.3s;
}
.page2 .shelf2.move{
    position: absolute;top: 30%;right: 200px;
}
.page2 .shelf3{
    width: 436px;height: 76px;
    background-image: url(../images/introStart_shelf4.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;bottom: 30%;right: -9999px;
    transition: 0.3s;
}
.page2 .shelf3.move{
    position: absolute;bottom: 30%;right: 350px;
}


/* page3  */
.page3 .mainWrap{z-index: 2;opacity: 0;transition: 2s;}
.page3 .mainWrap.move{opacity:1;}
.page3 .book1st{right: -9999px;position: relative;transition: 0.3s;opacity: 0;}
.page3 .book1st.move{right: 0;position: relative;opacity: 1;}
.page3 .book2nd{right: -9999px;position: relative;transition: 0.3s;opacity: 0;transition-delay: 0.1s;}
.page3 .book2nd.move{right: 0;position: relative;opacity: 1;}
.page3 .book3rd{right: -9999px;position: relative;transition: 0.3s;opacity: 0;transition-delay: 0.2s;}
.page3 .book3rd.move{right: 0;position: relative;opacity: 1;}
.page3 .book4th{right: -9999px;position: relative;transition: 0.3s;opacity: 0;transition-delay: 0.3s;}
.page3 .book4th.move{right: 0;position: relative;opacity: 1;}

.page3 .bookWrap>div img{opacity: 0.9;}
.page3 .textWrap .text1{
    font-family: 'GowunBatang-bold';
    font-size: 76px;
}
.page3 .textWrap .text2{
    font-family: 'GowunBatang-regular';
    font-size: 22px;
    font-weight: bolder;
}
.page3 .textWrap .text3,.page3 .textWrap .text4{
    font-size: 14px;font-weight: 400;font-family: 'Noto Sans KR', sans-serif;
}



/* page4 */
.page4{background: #343434;}
.page4 .mainWrap{z-index: 2;position: absolute;left: -9999px;transition: 0.3s;}
.page4 .mainWrap.move{position: absolute;left: 20%;}
.page4 .container{position: absolute;right: -9999px;transition: 0.3s;}
.page4 .container.move{position: absolute;right: 20%}
.page4 .textWrap .text1{
    font-family: 'GowunBatang-bold';
    font-size: 76px;
}
.page4 .textWrap .text2{
    font-family: 'GowunBatang-regular';
    font-size: 22px;
    font-weight: bolder;
}
.page4 .textWrap .text3,.page4 .textWrap .text4{
    font-size: 14px;font-weight: 400;font-family: 'Noto Sans KR', sans-serif;
}


/* page5  */
/* .page5{overflow: hidden;}s */
.page5 .mainWrap{z-index: 2;opacity: 0;transition: 2s;}
.page5 .mainWrap.move{opacity:1;}
.page5{background: #FDFAF3;}
.page5 .textWrap .text1{
    font-family: 'GowunBatang-bold';
    font-size: 76px;
}
.page5 .textWrap .text2{
    font-family: 'GowunBatang-regular';
    font-size: 22px;
    font-weight: bolder;
}
.page5 .textWrap .text3,.page5 .textWrap .text4{
    font-size: 14px;font-weight: 400;font-family: 'Noto Sans KR', sans-serif;
}
.page5 .bookcard1{position: absolute;top: 0;opacity: 0;transition: 0.3s;}
.page5 .bookcard1.move{position: absolute;top: -400px;opacity: 1;}
.page5 .bookcard2{position: absolute;right: -130px;top: 0;opacity: 0;transition: 0.3s;transition-delay: 0.2s;}
.page5 .bookcard2.move{position: absolute;right: -130px;top: -300px;opacity: 1;}


/* page6 */
.page6{background: #542385;}
.page6 .mainWrap{z-index: 2;opacity: 0;transition: 2s;}
.page6 .mainWrap.move{opacity:1;}
.page6 .textWrap .text1{
    font-family: 'GowunBatang-bold';
    font-size: 76px;
}
.page6 .textWrap .text2{
    font-family: 'GowunBatang-regular';
    font-size: 22px;
    font-weight: bolder;
}
.page6 .textWrap .text3,.page6 .textWrap .text4{
    font-size: 14px;font-weight: 400;font-family: 'Noto Sans KR', sans-serif;
}
.page6 .container img{width: 320px;}
.page6 .gift1{right: -9999px;position: relative;transition: 0.3s;opacity: 0;}
.page6 .gift1.move{right: 0;position: relative;opacity: 1;}
.page6 .gift2{right: -9999px;position: relative;transition: 0.3s;opacity: 0;transition-delay: 0.1s;}
.page6 .gift2.move{right: 0;position: relative;opacity: 1;}
.page6 .gift3{right: -9999px;position: relative;transition: 0.3s;opacity: 0;transition-delay: 0.2s;}
.page6 .gift3.move{right: 0;position: relative;opacity: 1;}




/* page7 */
.page7{background: #343434;}
/* .page7 .mainWrap{z-index: 2;position: absolute;left: -9999px;transition: 0.3s;}
.page7 .mainWrap.move{position: absolute;left: 20%;} */
.page7 .mainWrap{z-index: 2;position: absolute;left: -9999px;transition: 0.3s;left: -9999px;top: 12%;}
.page7 .mainWrap.move{position: absolute;left: 20%;}
.page7 .yellow{position: relative;right: -9999px;transition: 0.3s;}
.page7 .yellow.move{position: relative;right: 0}
.page7 .purple{position: relative;right: -9999px;transition: 0.3s;transition-delay: 0.1s;}
.page7 .purple.move{position: relative;right: 0}
.page7 .textWrap .text1{
    font-family: 'GowunBatang-bold';
    font-size: 76px;
}
.page7 .textWrap .text2{
    font-family: 'GowunBatang-regular';
    font-size: 22px;
    font-weight: bolder;
}




/* 미디어 쿼리  */
@media screen and (max-width:768px){
    body{overflow-x: hidden}
    /* 페이지1 */
    .page1,.page2,.page5{overflow: hidden;}

    .mainWrap{position: absolute;left: 15%;top: 8%;}

    
    .page1 .bgimg2{
        width: 500px;height: 300px;
        position: absolute;bottom: 0;left: 50%;transform: translate(-30%);
        background-image: url(../images/headerBgImg.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .page1 .bgimg3{
        width: 25px;height: 25px;
        position: absolute;top: 0;left: 190px;
        transform: translate(-28%,-500%);
        background-image: url(../images/headerBgBook1.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition:1s;
        opacity:0
    }
    .page1 .bgimg3.move{
        transform: translate(0,70px);
        opacity:1
    
    }
    .page1 .bgimg4{
        width: 15px;height: 15px;
        position: absolute;top: 0px;left: 225px;
        background-image: url(../images/headerBgBook2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition:1s;
        transition-delay: 0.5s;
        opacity:0;
    }
    .page1 .bgimg4.move{
        transform: translate(0,75px);
        opacity: 1;
    }

    .page1 .textWrap .text1{
        font-family: 'GowunBatang-bold';
        font-size: 35px;
        font-weight: bolder;
    }
    .page1 .textWrap .text2{
        font-family: 'GowunBatang-regular';
        font-size: 15px;
        font-weight: bolder;
    }
    .loginWrap{display: flex;position: absolute;top: 25px;right: 20px;}
    .Mlogo{display: none;}


    /* 페이지3 */
    .page3 .bookWrap{position: relative;bottom: -25%;}
    .page3 .textWrap .text1{
        font-family: 'GowunBatang-bold';
        font-size: 35px;
        font-weight: bolder;
    }
    .page3 .textWrap .text2{
        font-family: 'GowunBatang-regular';
        font-size: 15px;
        font-weight: bolder;
    }
    .page3 .textWrap .text3,.page3 .textWrap .text4{font-size: 12px;}
    .page3 .textWrap .mid{font-size: 13px !important;}



    /* 페이지4 */
    .page4 .mainWrap{z-index: 2;position: absolute;left: -9999px;transition: 0.3s;}
    .page4 .mainWrap.move{position: absolute;left: 15%;}
    .page4 .container{position: absolute;right: -9999px;transition: 0.3s;}
    .page4 .container img{width: 400px;}
    .page4 .container.move{position: absolute;right: 0;bottom: 20%;}
    .page4 .textWrap .text1{
        font-family: 'GowunBatang-bold';
        font-size: 35px;
        font-weight: bolder;
    }
    .page4 .textWrap .text2{
        font-family: 'GowunBatang-regular';
        font-size: 15px;
        font-weight: bolder;
    }
    .page4 .textWrap .text3,.page4 .textWrap .text4{font-size: 12px;}
    .page4 .textWrap .mid{font-size: 13px !important;}


    /* 페이지5 */
    .page5 .textWrap .text1{
        font-family: 'GowunBatang-bold';
        font-size: 35px;
        font-weight: bolder;
    }
    .page5 .textWrap .text2{
        font-family: 'GowunBatang-regular';
        font-size: 15px;
        font-weight: bolder;
    }
    .page5 .textWrap .text3,.page5 .textWrap .text4{font-size: 12px;}
    .page5 .textWrap .mid{font-size: 13px !important;}

    .page5 .bookcard1 img{width: 90%;}
    .page5 .bookcard2 img{width: 90%;}
    .page5 .container{padding-top: 210px;}

    .page5 .bookcard1{position: absolute;top: -400px;opacity: 0;transition: 0.3s;}
    .page5 .bookcard1.move{position: absolute;top: 0;opacity: 1;}
    .page5 .bookcard2{position: absolute;right: -130px;top: -300px;opacity: 0;transition: 0.3s;transition-delay: 0.2s;}
    .page5 .bookcard2.move{position: absolute;right: 0;top: 0;opacity: 1;}



    /* 페이지6 */
    .page6 .mainWrap img{display: none;}
    .page6 .textWrap .text1{
        font-family: 'GowunBatang-bold';
        font-size: 35px;
        font-weight: bolder;
    }
    .page6 .textWrap .text2{
        font-family: 'GowunBatang-regular';
        font-size: 15px;
        font-weight: bolder;
    }
    .page6 .textWrap .text3,.page6 .textWrap .text4{font-size: 12px;}
    .page6 .textWrap .mid{font-size: 13px !important;}
    .page6 .container{
        display: flex;position: absolute;
        bottom: 15%;
    }
    .page6 .container img{width: 100%;}


    /* 페이지7 */
    .page7 .mainWrap{z-index: 2;position: absolute;left: -9999px;transition: 0.3s;}
    .page7 .mainWrap.move{position: absolute;left: 15%;top: 8%;}
    .page7 .textWrap .text1{
        font-family: 'GowunBatang-bold';
        font-size: 35px;
        font-weight: bolder;
    }
    .page7 .textWrap .text2{
        font-family: 'GowunBatang-regular';
        font-size: 15px;
        font-weight: bolder;
    }
    .page7 .subWrap{position: absolute;bottom: 2%;}
    .page7 .subWrap img{width: 85%;position: relative;left: 50%;transform: translateX(-50%);}
}




