@charset "utf-8";
body{
    font-family: 'Noto Sans KR', sans-serif;
    min-width: 1200px;
    background: #000;
}
.header{background: #fff;margin-bottom: 100px;}
.headerwrap{width: 1200px;margin: 0 auto;}
.logowrap{display: flex;justify-content: space-between;align-items: center;}
.nav ul li{float: left;margin-right: 25px;height: 70px;line-height: 70px;}
.nav ul li:last-child{margin-right: 0;}
.nav ul li:hover{transform:scale(1.1);}

.content{position: absolute;right: 50%;}
.content img{margin-bottom: 200px;}
.content:last-child{right: 200px;position: absolute;}


