@charset "utf-8";

#headerwrap{position: relative;}
.container{position: absolute;top: 0;z-index: 1;}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border-bottom: 1px solid #ced4da;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
input{text-align: right;width: 164px;height: 20px;}

/* .swiper{position: relative;top: 0;} */
.swiper-slide img{object-fit: cover;}

.slidetxt{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.slidetxt h1{font-size: 100px;font-family: 'Lora', serif;line-height: 90px;}
.slidetxt p{font-size: 12px;font-family: 'Rubik', sans-serif;}