@charset "utf-8";



.navbar-dark .navbar-nav .nav-link{color:white !important}






form{height: 35px;}
.form-control{
    display: block;
    width: 100%;
    height: 30px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
input{text-align: right;}
input::placeholder{color: #fff !important;}
input::-webkit-input-placeholder{color: #fff !important;}
input::-ms-input-placeholder{color: #fff !important;}






/* slide  */
.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #fff;
}
.slidetxt{position: relative}
.swiper-slide img{object-fit: cover;}


.slidetxt{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.slidetxt h1{font-size: 10vw;font-family: 'Lora', serif;_line-height: 90px;}
.slidetxt h1::after{
    content: "";display: block;background: #fff;
    width: 85px;height: 2px;left: 0;
    position: absolute;
}
.slidetxt p{font-size: 12px;font-family: 'Rubik', sans-serif;}
.slidetxt:after{
    content: "";display: block;background: #fff;
    width: 150px;height: 2px;right: 0;
    position: absolute;
}

.user a{color: #fff;}
.user button{
    width: 100px;height: 35px;
    font-size: 14px;border-radius: 5px;
    border: 1px solid #A7A7A7;
}



/* content1 */
.content1{position: relative;}
.content1 .card-body{
    width: 600px;height: 380px;
    background: #fff;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.15);
    position: absolute;left: 50%;top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.content1 .card-body h6{font-size: 18px;line-height: 24px;color: #DFCEC2;font-family: 'Rubik', sans-serif;}
.content1 .card-body h2{font-size: 36px;line-height: 48px;color: #3C3C3C;font-weight: 500;font-family: 'Rubik', sans-serif;}
.content1 .card-body p{font-size: 18px;line-height: 24px;color: #A7A7A7;font-family: 'Rubik', sans-serif;}

@media screen and (max-width:765px){
    .content1 .card-body{width: 400px;height: 250px;transform: translate(-50%,-20%);}
    .content1 .cardwrap h6{font-size: 15px;line-height: 20px;}
    .content1 .cardwrap h2{font-size: 25px;line-height: 30px;}
    .content1 .cardwrap p{font-size: 15px;line-height: 20px;}
}
/* 
.content1 .card-img{overflow: hidden;}
.content1 .card-img:hover img{transform: scale(1.1);transition: 0.3s linear;} */







/* content2  */
.content2 div img{border-radius: 8px;}
.content2 h2{font-family: 'Rubik';}
.content2 h6{color: #DFCEC2;font-family: 'Rubik';}
.content2 p{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-family: 'Rubik';
}
.content2 p:last-child{
    color: #DFCEC2;font-weight: 500;
    font-family: 'Rubik';
}
.content2 .mouse1{
    position: absolute;_top: 0;left: 0;
    opacity: 0;transition: opacity 0.9s;
    cursor: pointer;
}
.content2 .sellers{position: relative;}
.content2 .sellers:hover .mouse1{opacity: 1;}

.content2 .mouse2{
    position: absolute;top: 0;left: 0;
    opacity: 0;transition: opacity 0.9s;
    cursor: pointer;
}
.content2 .sellers:hover .mouse2{opacity: 1;}

.content2 .mouse3{
    position: absolute;top: 0;left: 0;
    opacity: 0;transition: opacity 0.9s;
    cursor: pointer;
}
.content2 .sellers:hover .mouse3{opacity: 1;}



/* content3  */
/* .row div{position: relative;}
.content3 p{
    position: absolute;top: 50%;left: 50%;
    transform: translate(-50%,-50%);color: #fff;
    font-size: 1.4em;_font-weight: 500;
    font-family: 'Rubik';margin-bottom: 0;
}

@media screen and (min-width:768px){
    .clo1,.clo2,.clo4,.clo5{height:470px !important;overflow: hidden;cursor: pointer;}
    .clo3{height: calc(470 * 2px);overflow: hidden;cursor: pointer;}
    .content3 img{
        position: absolute;height: 100%;
        transform:translateX(-50%);
        left:50%;overflow: hidden;
    }
}

@media screen and (max-width:767px){
    .content3 img{width: 100%;}
}
.content3 .row div{overflow: hidden;transition: 0.3s;}
.content3 .clo1:hover{transform: scale(1.1);}
.content3 .clo2:hover{transform: scale(1.1);}
.content3 .clo3:hover{transform: scale(1.1);}
.content3 .clo4:hover{transform: scale(1.1);}
.content3 .clo5:hover{transform: scale(1.1);} */
/* .content3 .row{flex-wrap: flex;display: flex;height: auto;} */

.content3 .shirts,.content3 .dress,.content3 .knitwear,
.content3 .t-shirts,.content3 .brazers,.content3 .pants,
.content3 .shorts,.content3 .bags,.content3 .accessories
{
    width: 250px;height: 250px;
    border-radius: 10px;background: white;
    /* transform-style: preserve-3d; */
    /* transform: rotateY(180deg); */
    _transition: 0.8s;overflow: hidden;
    position: relative; transform-style: preserve-3d;
     _perspective: 1000; cursor: pointer;
}

.item {backface-visibility: hidden; transition: 0.5s linear;} 
.front {position: relative; z-index: 2; opacity: 1; transform: rotateY(0deg);} 
.back {position: absolute; z-index: 1; opacity: 0; transform: rotateY(180deg);} 
.shirts:hover > .front {z-index: 1; opacity: 0; transform: rotateY(180deg);} 
.shirts:hover > .back {z-index: 2; opacity: 1; transform: rotateY(0)}

.dress:hover > .front {z-index: 1; opacity: 0; transform: rotateY(180deg);} 
.dress:hover > .back {z-index: 2; opacity: 1; transform: rotateY(0)}

.knitwear:hover > .front {z-index: 1; opacity: 0; transform: rotateY(180deg);} 
.knitwear:hover > .back {z-index: 2; opacity: 1; transform: rotateY(0)}

.t-shirts:hover > .front {z-index: 1; opacity: 0; transform: rotateY(180deg);} 
.t-shirts:hover > .back {z-index: 2; opacity: 1; transform: rotateY(0)}

.brazers:hover > .front {z-index: 1; opacity: 0; transform: rotateY(180deg);} 
.brazers:hover > .back {z-index: 2; opacity: 1; transform: rotateY(0)}

.pants:hover > .front {z-index: 1; opacity: 0; transform: rotateY(180deg);} 
.pants:hover > .back {z-index: 2; opacity: 1; transform: rotateY(0)}

.shorts:hover > .front {z-index: 1; opacity: 0; transform: rotateY(180deg);} 
.shorts:hover > .back {z-index: 2; opacity: 1; transform: rotateY(0)}

.bags:hover > .front {z-index: 1; opacity: 0; transform: rotateY(180deg);} 
.bags:hover > .back {z-index: 2; opacity: 1; transform: rotateY(0)}

.accessories:hover > .front {z-index: 1; opacity: 0; transform: rotateY(180deg);} 
.accessories:hover > .back {z-index: 2; opacity: 1; transform: rotateY(0)}

.content3 .item img{
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
}




.content3 .shirts,.content3 .dress,.content3 .knitwear,
.content3 .t-shirts,.content3 .brazers,.content3 .pants,
.content3 .shorts,.content3 .bags,.content3 .accessories
{box-shadow: 0 0 15px rgb(212, 212, 212)}

.content3 .shirts p,.content3 .dress p,.content3 .knitwear p,
.content3 .t-shirts p,.content3 .brazers p,.content3 .pants p,
.content3 .shorts p,.content3 .bags p,.content3 .accessories p
{font-family: 'Rubik';margin-bottom: 0;}


@media screen and (max-width:1000px){
    .content3 .shirts,.content3 .dress,.content3 .knitwear,
    .content3 .t-shirts,.content3 .brazers,.content3 .pants,
    .content3 .shorts,.content3 .bags,.content3 .accessories
    {
        width: 200px;height: 200px;
        border-radius: 10px;background: white;
        /* transform-style: preserve-3d; */
        /* transform: rotateY(180deg); */
        _transition: 0.8s;overflow: hidden;
        position: relative; transform-style: preserve-3d;
        _perspective: 1000; cursor: pointer;
    }
}







/* content4  new product*/
.content4 div img{border-radius: 8px;}
.content4 h2{font-family: 'Rubik';}
.content4 h6{color: #DFCEC2;font-family: 'Rubik';}
.content4 p{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-family: 'Rubik';
}
.content4 p:last-child{
    color: #DFCEC2;font-weight: 500;
    font-family: 'Rubik';
}
.content4 .sellers{cursor: pointer;position: relative;}
.content4 .bg{
    width: 100%;height: 100%;background-color: #000;
    position: absolute;top: 0;
    opacity: 0;transition: 0.3s linear;
    border-radius: 8px;
}
.content4 .sellers:hover .bg{opacity: 0.3;}

.content4 .circle{
    position: absolute;width: 40px;height: 40px;border-radius: 50%;
    border: 2px solid #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);
}
.circle .bar1,.circle .bar2{
    width: 15px;height: 2px;background: #fff;
    border-radius: 2px;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
}
.content4 .bar1{
    transform: translate(-50%,-50%) rotate(90deg);
}
.circle{display: none;transition: all ease 1s;}
.content4 .sellers:hover .circle{display: block;}
.circle:hover{transform:translate(-50%,-50%) rotate(720deg);}


.content4 .view{
    border: 1px solid #B6B6B6;width: 120px;
    height: 40px;
    border-radius: 5px;
    
}
.content4 .view a{
    font-size: 15px;color: #8A888A;
    line-height: 40px;display: block;
}










/* content5 */
.content5{background: #F8F3F0;}
.content5 .video{position: relative;}
.content5 .moren_video img{
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
}
.content5 h6{color: #DFCEC2;}
.content5 p{color: #908D89;line-height: 28px;}
.content5 .view{
    border: 1px solid #B6B6B6;width: 120px;
    border-radius: 5px;
}
.content5 .view a{
    font-size: 15px;color: #8A888A;
    line-height: 40px;display: block;
}


/* content6 */
.content6 h2{font-family: 'Rubik';}
.content6 h6{color: #DFCEC2;font-family: 'Rubik';}

.content6 .swiper-slide img{transition: 0.3s;}
.content6 .swiper-slide:hover img{transform: scale(1.1);transition: 0.3s;}

@media screen and (max-width:1600px){
    .content6 .swiper img{
        width: 100%;
    }
}





/* footer */
.footer{_height: 400px;width: 100%;background: #F8F3F0;}
.footer .icon i{color:#c2a18a;}
/* .footer .icon{width: 160px;} */





/* subpage */
.headerwrap{background: #fff;}
.subcontent01{padding-top: 120px;}
.subcontent02{padding-top: 120px;}
/* .wishlistWrap{padding-top: 120px;} */

.subvisual{
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
}


.subvisual.about{
    background-image: url(../images/aboutus_bg.png);
}
.subvisual.blog{
    background-image: url(../images/blog_bg.jpg);
}
.subvisual.cart{
    background-image: url(../images/wishlist_bg.jpg);
}
.subvisual.checkout{
    background-image: url(../images/blog_bg.jpg);
}
.subvisual.collections{
    background-image: url(../images/collections_bg.jpg);
}
.subvisual.compare{
    background-image: url(../images/compare_bg.jpg);
}
.subvisual.contact{
    background-image: url(../images/contact_bg.jpg);
}
.subvisual.faqs{
    background-image: url(../images/faqs_bg.jpg);
}
.subvisual.myaccount{
    background-image: url(../images/aboutus_bg.png);
}
.subvisual.order{
    background-image: url(../images/wishlist_bg.jpg);
}
.subvisual.shop{
    background-image: url(../images/blog_bg.jpg);
}
.subvisual.wish{
    background-image: url(../images/wishlist_bg.jpg);
}


