@charset "utf-8";

/* 공통  */
html,body{
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    background: #f8f8f8;
}

#header_top .logo{padding: 0 10px;}

/* .sldierWrap li img{width: 100%;} */

.bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border: 0 none;
    background: #fff;
    margin-bottom: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a{background: #fff;transition: 0.3s;}
.bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #1982CF;width: 40px;height: 8px; 
}


/* circle  */
.circle{
    width: 44px;height: 44px;border-radius: 50%;
    background: #fff;position: relative;margin: 0 auto;
}
.circle .bar1, .circle .bar2{
    width: 18px;height: 4px;background: #071F60;
    border-radius: 2px;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
}
.circle .bar1{transform: translate(-50%,-50%) rotate(90deg);}



/* content */
.content{position: relative;}
.content>ul{display: flex;flex-wrap: wrap;}
.content>ul>li{width: 25%;height: 310px;}
.content>ul>li:nth-child(2n){}

.content>ul>li h1{
    font-size: 50px;
    font-weight: bold;
    line-height: 61px;
}
.content>ul>li h2{
    font-size: 35px;
    font-weight: 800;
    line-height: 43px;
    font-style: normal;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;

    /* font-family: 'Montserrat'; */
}
.content>ul>li h3{
    font-size: 30px;
    font-weight: bold;
    line-height: 37px;
    font-style: normal;
    letter-spacing: 0.005em;
    font-family: 'Montserrat', sans-serif;
}
.content>ul>li h4{
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    color: #202020;
}
.content>ul>li p{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}


/* .content>ul>li .circle{position: absolute;left: 50%;transform: translateX(-50%);} */


/* content .1 coffee  */
.content>ul>li:nth-child(1){
    background: #F5ECDB;
    display: flex;justify-content: center;align-items: center;
    }
.content>ul>li:nth-child(1) .coffeewrap{}
.content>ul>li:nth-child(1) .coffee{text-align: center;}
.content>ul>li:nth-child(1) .coffee h2{color: #6D4D30;}


/* content .2 new */
.content>ul>li:nth-child(2){
    width: 75%;
    background-image: url(../images/content_01.png);
    cursor: pointer;
}
.content>ul>li:nth-child(2) .new{padding: 35px;}
.content>ul>li:nth-child(2) .new .line1{
    width: 89px;height: 2px;background: #6D4D30;
    margin-top: 15px;margin-bottom: 15px;
}
.content>ul>li:nth-child(2) .new h3{color: #6D4D30;}
.content>ul>li:nth-child(2) .new p{color: #222222;}


/* content .3 ice */
.content>ul>li:nth-child(3){
    width: 50%;
    background-image: url(../images/content_02.png);
    cursor: pointer;
}
.content>ul>li:nth-child(3) .ice{padding: 35px;}
.content>ul>li:nth-child(3) .ice .line2{
    width: 53px;height: 2px;background: #071F60;
    margin-top: 15px;margin-bottom: 15px;
}
.content>ul>li:nth-child(3) .ice h3{color: #071F60;}

/* content .4 beverage */
.content>ul>li:nth-child(4){
    background: #D2EAFF;
    display: flex;justify-content: center;align-items: center;
}
.content>ul>li:nth-child(4) .beverage{position: relative;text-align: center;}
.content>ul>li:nth-child(4) .beverage h2{color: #071F60;}

/* content .5 signature */
.content>ul>li:nth-child(5){
    background: #FFE600;
    display: flex;justify-content: center;align-items: center;
}
.content>ul>li:nth-child(5) .signature{position: relative;text-align: center;}
.content>ul>li:nth-child(5) .signature{color: #fff;}


/* content .6  story*/
.content>ul>li:nth-child(6){
    height: 620px;
    background-image: url(../images/content_03.png);
    cursor: pointer;
}
.content>ul>li:nth-child(6) .story{padding: 35px;position: relative;}
.content>ul>li:nth-child(6) h5{color: #564E00;}
.content>ul>li:nth-child(6) h3{margin-top: 15px;margin-bottom: 35px;}
.content>ul>li:nth-child(6) .circle{position: absolute;margin-top: 25px;left: 30px;}


/* content .7  tasty*/
.content>ul>li:nth-child(7){
    background: #FFAC4A;
    display: flex;justify-content: center;align-items: center;
}
.content>ul>li:nth-child(7) .tasty{position: relative;text-align: center;}
.content>ul>li:nth-child(7) .tasty h2{color: #fff;}


/* content .8 dessert */
.content>ul>li:nth-child(8){
    width: 50%;
    background-image: url(../images/content_04.png);
}
.content>ul>li:nth-child(8) .dessert{padding: 35px;}
.content>ul>li:nth-child(8) .dessert .line3{
    width: 146px;height: 2px;background: #fff;
    margin-top: 15px;margin-bottom: 15px;
}
.content>ul>li:nth-child(8) .dessert h3{color: #fff;}
.content>ul>li:nth-child(8) .dessert p{color: #fff;}



/* content .9 store  */
.content>ul>li:nth-child(9){background: #D2EAFF;position: absolute;bottom: 0;left: 310px;}
.content>ul>li:nth-child(9) .store{padding: 35px;position: relative;}
.content>ul>li:nth-child(9) .store h3{margin-bottom: 10px;color: #071F60;}
.content>ul>li:nth-child(9) .store .search{position: relative;margin-top: 108px;}
.content>ul>li:nth-child(9) .searchInp{
    width: 240px;height: 35px;border-radius: 8px;
    border: 2px solid #000;color: #A1A9C9;
    text-indent: 12px;
    
}
.content>ul>li:nth-child(9) input::placeholder {
    color: #A1A9C9;
  }
.content>ul>li:nth-child(9) .searchBtn{
    position: absolute;right: 8px;
    top: 50%;transform: translateY(-50%);
    width: 25px;height: 25px;border: none;
    text-indent: -9999px;
    background: url(../images/search-icon.png) no-repeat center;
    cursor: pointer;
}
.content>ul>li:nth-child(9) .store img{position: absolute;bottom: 69.5px;right: 50px;}




/* content .10 franchise  */
.content>ul>li:nth-child(10){width: 50%;background: #fff;position: absolute;right: 0;bottom: 0;}
.content>ul>li:nth-child(10) li{}
.content>ul>li:nth-child(10) .franchise{padding: 35px;}
.content>ul>li:nth-child(10) .franchise h3{margin-bottom: 10px;color: #071F60;}
.content>ul>li:nth-child(10) .franchise .franicon{position: absolute;bottom: 40px;}
.content>ul>li:nth-child(10) .franchise .franlogo{position: absolute;bottom: 0;right: 0;}


/* vision  */
.vision{
    background-image: url(../images/vision_bg.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 724px;width: 100%;
    /* position: absolute;top: 2000px; */
    padding-top: 60px;
}
.vision .visionwrap{
    width: 1240px;margin: 0 auto;
}
.vision .visiontitle{text-align: center;margin-bottom: 90px;}
.vision .visiontitle h5{
    color: #fff;font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.vision .visiontitle h2{
    color: #fff;font-size: 45px;
    font-weight: 500;font-family: 'Montserrat', sans-serif;
}

.vision .visiontitle .line4{
    width: 50px;height: 3px;background: #fff;margin: 0 auto;
    margin-top: 15px;margin-bottom: 30px;
}

.vision .visionimg>ul>li h1{color: #fff;margin-bottom: 70px;}
.vision .visionimg>ul{width: 990px;margin: 0 auto;}
.vision .visionimg .bg{width: 100%;}
.visionimg ul li{
    float: left;
    margin-right: 158px;width: calc((100% - 316px) / 3);overflow: hidden;
    text-align: center;
}
.visionimg ul li:last-child{margin-right: 0;}







/* pc버전 */
@media screen and ( min-width:700px ){

    /* header  */
    #main_header{height: 100px;}

    .headerwrap{
        width: 100%;background: #fff;height: 100px;
        display: flex;justify-content: center;align-items: center;
        position: fixed;z-index: 1;
        box-shadow: 0 5px 10px rgba(0,0,0,0.3);
        
    }

    #header_top{
        width: 1240px;
        position: fixed;left: 50%;transform: translateX(-50%);
        display: flex;justify-content: space-between;align-items: center;
    }
    
    #header_top .gnb img{display: none;}
    .gnb li:hover {transform: scale(1.1);}
    #header_top .gnb li{float: left;}
    #header_top .gnb li>a{display: block;line-height: 50px;text-align: center;padding: 0 30px;}
    .toggle{display: none;}


    /* slider  */
    .slider .li_1st{background-image: url(../images/main_banner01.jpg);}
    .slider .li_2st{background-image: url(../images/main_banner02.jpg);}
    .slider .li_3st{background-image: url(../images/main_banner03.jpg);}

    .slider .li_1st,.slider .li_2st,.slider .li_3st{
        height: 600px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
    }

    .bx-wrapper .bx-pager{
        position: absolute;
        bottom: 30px;
        width: 100%;
    }
    
    

    .sliderwrap{position: relative;margin-bottom: 80px;}
    .nextBtn, .prevBtn{position: absolute;top: 50%;transform: translateY(-50%);cursor: pointer;}
    .nextBtn{right: 0;}


    /* content  */
    .content{
        width: 1240px;
        margin: 0 auto;
        margin-bottom: 80px;        
    }
    

    

    
}




/* 모바일 버전 */
@media screen and ( max-width:699px ){

    /* header  */
    #main_header{}

    .logo img{width: 80%;}

    #header_top{
        padding: 0 16px;
        position: fixed;width: 100%;
        display: flex;justify-content: space-between;align-items: center;
        
    }
    .headerwrap{
        width: 100%;background: #fff;height: 80px;
        display: flex;justify-content: center;align-items: center;
        position: fixed;z-index: 1;
    }


    /* header_gnb */
    #header_top .gnb{
        position: fixed;width: 100%;height: 100%;
        background: #fff;
        right: -100%;top: 0;z-index: 1;
        display: flex;justify-content: center;align-items: center;
        text-align: center;transition: 0.3s;
    }
    #header_top .gnb.view{right: 0;}
    #header_top .gnb a{
        line-height: 40px;
        width: 200px;display: block;
        font-size: 30px;font-weight: bold;
        color: #071F60;font-family: 'Noto Sans KR', sans-serif;
    }
    #header_top .gnb li{margin-bottom: 35px;}

    #header_top .gnb img{position: absolute;bottom: 0;left: 0;}



    /* toggle  */
    .toggle{display: block;}
    .toggle{
        width: 40px;height: 40px;
        _background: #000;position: relative;
        z-index: 2;
    }
    .toggle div{
        position: absolute;
        width: 30px;height: 3px;
        background: #071F60;
        top: 50%;left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 20px;
        transition: 0.3s;
        cursor: pointer;
    }
    .toggle .bar1{top: 10px;}
    .toggle .bar3{top: 30px;}

    .toggle.active .bar1{top: 50%;transform: translate(-50%,-50%) rotate(45deg);}
    .toggle.active .bar2{opacity: 0;}
    .toggle.active .bar3{top: 50%;transform: translate(-50%,-50%) rotate(-45deg);}


    /* slider  */
    .bx-wrapper .bx-pager{
        position: absolute;
        bottom: 30px;
        width: 100%;
    }
    
    .bx-wrapper .bx-pager.bx-default-pager a{
        background: #fff;transition: 0.3s;
        width: 8px;height: 8px;
    }
    .bx-wrapper .bx-pager.bx-default-pager a:hover{background: #1982CF;}
    .bx-wrapper .bx-pager.bx-default-pager a.active{background: #1982CF;}


    .sliderwrap{position: relative;}
    .slider .li_1st{background-image: url(../images/mobile_banner01.png);}
    .slider .li_2st{background-image: url(../images/mobile_banner02.png);}
    .slider .li_3st{background-image: url(../images/mobile_banner03.png);}


    .slider .li_1st,.slider .li_2st,.slider .li_3st{
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .nextBtn, .prevBtn{display: none;}

    
    /* content  */
    .content{width: 100%;}
    .content>ul>li{width: 50%;order: 10;}

    .content>ul>li:nth-child(1){order: 1;}
    .content>ul>li:nth-child(4){order: 2;}
    .content>ul>li:nth-child(5){order: 3;}
    .content>ul>li:nth-child(6){display: none;}
    .content>ul>li:nth-child(7){order: 4;}
    .content>ul>li:nth-child(9),
    .content>ul>li:nth-child(10){display: none;}
    .content>ul>li:nth-child(2),
    .content>ul>li:nth-child(3),
    .content>ul>li:nth-child(8){
        width: 100%;background-size: cover;background-position: center;height: 190px;}

    

    /* vision  */
    .vision{display: none;}
    
}