@charset "utf-8";

/* 공통  */
html,body{
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    background: #f8f8f8;
}

#header_top .logo{padding: 0 10px;}

/* .sldierWrap li img{width: 100%;} */

.bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border: 0 none;
    background: #fff;
    margin-bottom: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a{background: #fff;transition: 0.3s;}
.bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #1982CF;width: 40px;height: 8px; 
}


/* circle  */
.circle{
    width: 44px;height: 44px;border-radius: 50%;
    background: #fff;position: relative;margin: 0 auto;
    transition: all ease 1s;
}

.circle:hover{transform: rotate(720deg);}


.circle .bar1, .circle .bar2{
    width: 18px;height: 4px;background: #071F60;
    border-radius: 2px;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
}
.circle .bar1{transform: translate(-50%,-50%) rotate(90deg);}





/* content */
.content{position: relative;}
.content>ul{display: flex;flex-wrap: wrap;}
.content>ul>li{width: 25%;height: 310px;}
.content>ul>li:nth-child(2n){}

.content>ul>li h1{
    font-size: 50px;
    font-weight: bold;
    line-height: 61px;
}
.content>ul>li h2{
    font-size: 30px;
    font-weight: 800;
    line-height: 43px;
    font-style: normal;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;

    /* font-family: 'Montserrat'; */
}
.content>ul>li h3{
    font-size: 25px;
    font-weight: bold;
    line-height: 37px;
    font-style: normal;
    letter-spacing: 0.005em;
    font-family: 'Montserrat', sans-serif;
}
.content>ul>li h4{
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    color: #202020;
}
.content>ul>li p{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}


/* .content>ul>li .circle{position: absolute;left: 50%;transform: translateX(-50%);} */


/* content .1 coffee  */
.content>ul>li:nth-child(1){
    background: #F5ECDB;
    display: flex;justify-content: center;align-items: center;
    }
.content>ul>li:nth-child(1) .coffeewrap{}
.content>ul>li:nth-child(1) .coffee{text-align: center;}
.content>ul>li:nth-child(1) .coffee h2{color: #6D4D30;}


/* content .2 new */
.content>ul>li:nth-child(2){
    width: 75%;
    background-image: url(../images/content_01.png);
    cursor: pointer;
    padding: 35px;
    background-repeat: no-repeat;
    background-position: center;
    
}



.content>ul>li:nth-child(2) .new .line1{
    width: 75px;height: 2px;background: #6D4D30;
    margin-top: 10px;margin-bottom: 15px;
}
.content>ul>li:nth-child(2) .new h3{color: #6D4D30;}
.content>ul>li:nth-child(2) .new p{color: #222222;}


/* content .3 ice */
.content>ul>li:nth-child(3){
    width: 50%;
    background-image: url(../images/content_02.png);
    cursor: pointer;
    padding: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.content>ul>li:nth-child(3) .ice{}
.content>ul>li:nth-child(3) .ice .line2{
    width: 45px;height: 2px;background: #071F60;
    margin-top: 10px;margin-bottom: 15px;
}
.content>ul>li:nth-child(3) .ice h3{color: #071F60;}

/* content .4 beverage */
.content>ul>li:nth-child(4){
    background: #D2EAFF;
    display: flex;justify-content: center;align-items: center;
}
.content>ul>li:nth-child(4) .beverage{position: relative;text-align: center;}
.content>ul>li:nth-child(4) .beverage h2{color: #071F60;}

/* content .5 signature */
.content>ul>li:nth-child(5){
    background: #FFE600;
    display: flex;justify-content: center;align-items: center;
}
.content>ul>li:nth-child(5) .signature{position: relative;text-align: center;}
.content>ul>li:nth-child(5) .signature{color: #fff;}


/* content .6  story*/
.content>ul>li:nth-child(6){
    height: 620px;
    background-image: url(../images/content_03.png);
    cursor: pointer;
    padding: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.content>ul>li:nth-child(6) .story{position: relative;}
.content>ul>li:nth-child(6) h5{color: #564E00;}
.content>ul>li:nth-child(6) h3{margin-top: 15px;margin-bottom: 35px;}
.content>ul>li:nth-child(6) h4{margin-bottom: 25px;}
.content>ul>li:nth-child(6) .circle{position: absolute;left: 0;}


/* content .7  cream*/
.content>ul>li:nth-child(7){
    background: #FFAC4A;
    display: flex;justify-content: center;align-items: center;
}
.content>ul>li:nth-child(7) .cream{position: relative;text-align: center;}
.content>ul>li:nth-child(7) .cream h2{color: #fff;}


/* content .8 dessert */
.content>ul>li:nth-child(8){
    width: 50%;
    background-image: url(../images/content_04.png);
    padding: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.content>ul>li:nth-child(8) .dessert{}
.content>ul>li:nth-child(8) .dessert .line3{
    width: 125px;height: 2px;background: #fff;
    margin-top: 10px;margin-bottom: 15px;
}
.content>ul>li:nth-child(8) .dessert h3{color: #fff;}
.content>ul>li:nth-child(8) .dessert p{color: #fff;}



/* content .9 store  */
.content>ul>li:nth-child(9){
    background: #D2EAFF;position: absolute;
    bottom: 0;left: 310px;
    padding: 35px;
}
.content>ul>li:nth-child(9) .store{position: relative;}
.content>ul>li:nth-child(9) .store h3{margin-bottom: 10px;color: #071F60;}
.content>ul>li:nth-child(9) .store .search{position: relative;margin-top: 108px;}
.content>ul>li:nth-child(9) .searchInp{
    width: 240px;height: 35px;border-radius: 8px;
    border: 2px solid #000;color: #A1A9C9;
    text-indent: 12px;
    
}
.content>ul>li:nth-child(9) input::placeholder {
    color: #A1A9C9;
  }
.content>ul>li:nth-child(9) .searchBtn{
    position: absolute;right: 8px;
    top: 50%;transform: translateY(-50%);
    width: 25px;height: 25px;border: none;
    text-indent: -9999px;
    background: url(../images/search-icon.png) no-repeat center;
    cursor: pointer;
}
.content>ul>li:nth-child(9) .store img{position: absolute;bottom: 34px;right: 20px;}




/* content .10 franchise  */
.content>ul>li:nth-child(10){
    width: 50%;background: #fff;
    position: absolute;
    right: 0;bottom: 0;
    padding: 35px;
}
.content>ul>li:nth-child(10) .franchise h3{margin-bottom: 10px;color: #071F60;}
.content>ul>li:nth-child(10) .franchise .franicon{position: absolute;bottom: 40px;}
.content>ul>li:nth-child(10) .franchise .franlogo{position: absolute;bottom: 0;right: 0;}


/* vision  */
.vision{
    background: url(../images/vision_bg.png) no-repeat center fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 724px;width: 100%;
    /* position: absolute;top: 2000px; */
    padding-top: 60px;
    margin-bottom: 80px;
}
.vision .visionwrap{
    width: 1240px;margin: 0 auto;
}
.vision .visiontitle{text-align: center;margin-bottom: 90px;}
.vision .visiontitle h5{
    color: #fff;font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.vision .visiontitle h2{
    color: #fff;font-size: 45px;
    font-weight: 500;font-family: 'Montserrat', sans-serif;
}

.vision .visiontitle .line4{
    width: 50px;height: 3px;background: #fff;margin: 0 auto;
    margin-top: 15px;margin-bottom: 30px;
}

.vision .visionimg>ul>li h1{color: #fff;margin-bottom: 70px;}
.vision .visionimg>ul{width: 990px;margin: 0 auto;}
.vision .visionimg .bg{width: 100%;}
.visionimg ul li{
    float: left;
    margin-right: 158px;width: calc((100% - 316px) / 3);overflow: hidden;
    text-align: center;
}
.visionimg ul li:last-child{margin-right: 0;}






/* subpage  */

/* subcontent img  */
.subcontent.company .subimg{
    background-image: url(../images/subpage_companybg.png);
}
.subcontent.menu .subimg{
    background-image: url(../images/subpage_menu.png);
}
.subcontent.news .subimg{
    background-image: url(../images/subpage_news.png);
}
.subcontent.community .subimg{
    background-image: url(../images/subpage_community.png);
}
.subcontent.storeinfo .subimg{
    background-image: url(../images/subpage_storeinfo.png);
}
.subcontent.foundinfo .subimg{
    background-image: url(../images/subpage_foundinfo.png);
}
.subcontent.customer .subimg{
    background-image: url(../images/subpage_customer.jpg);
}
/* subcontent img end  */



.maincontent{width: 100%;background: #fff;}
.subcontent .subimg{
    height: 500px;
    display: flex;justify-content: center;align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    
}
.subcontent .subimg::after{
    content: "";display: block;
    width: 100%;height: 3px;
    background: #FFE600;
    position: absolute;bottom: 0;
    overflow: hidden;
}


.subcontent .subimgtitle h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 54px;
    color: #fff;
}
.subcontent .subimgtitle h2::after{
    content: "";display: block;
    width: 40px;height: 2px;
    background: #fff;
    margin: 30px auto;
}

.subcontent .subimgtitle p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}


/* subcontent submenu  */
.subcontent .submenu{
    position: absolute;
    bottom: 0;background: #fff;
    width: 900px;
}
.subcontent.company .submenu ul li{
    float: left;_padding: 20px 70px;
    border: 1px solid #EDEDED;
    width: calc(100% / 3);
}

.subcontent.menu .submenu ul li{
    float: left;_padding: 20px 70px;
    border: 1px solid #EDEDED;
    width: calc(100% / 5);
}
.subcontent.news .submenu ul li{
    float: left;_padding: 20px 70px;
    border: 1px solid #EDEDED;
    width: calc(100% / 4);
}
.subcontent.community .submenu ul li{
    float: left;_padding: 20px 70px;
    border: 1px solid #EDEDED;
    width: 100%;
}
.subcontent.community .submenu{
    position: absolute;
    bottom: 0;background: #fff;
    width: 300px;
}


/* subcontent submenu width end  */

.subcontent .submenu ul li:hover{
    background: #FFE600;transition: .3s;
}
.subcontent .submenu ul li a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 50px;height: 50px;
}

.maincontent .maincontentWrap{
    width: 1240px;margin: 0 auto;
}
.maincontent .introduce{
    display: flex;justify-content: center;align-items: center;
    margin-bottom: 110px;
}
.maincontent .paiks{text-align: center;}
.maincontent .paiks p:first-of-type{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #0E347E;
    margin-bottom: 100px;
}
.maincontent .paiks p:first-of-type::before{
    content: "";display: block;
    background: #0E347E;
    width: 50px;height: 3px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.maincontent .paiks h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 37px;
    line-height: 45px;
    margin-bottom: 50px;
}
.maincontent .paiks img{
    display: inline-block;
    margin-bottom: 50px;
}

.maincontent .paiks p:last-of-type{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 40px;
}


.maincontent .introline{
    width: 1260px;height: 3px;
    background: #0E347E;
    margin-bottom: 50px;
}

.maincontent .subEmployment .subEmploymentWrap{
    display: flex;justify-content: space-around;
    margin-bottom: 120px;
}

.maincontent .subEmployment .subEmploymentWrap img{
    margin-bottom: 50px;
}

.maincontent .subEmployment .subEmploymentWrap p:first-of-type{
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #071F60;
}

.maincontent .subEmployment .subEmploymentWrap p:last-of-type{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #202020;
}



.maincontent .coffeebeans .coffeebeansWrap{
    display: flex;justify-content: center;
    padding-bottom: 200px;
}
.maincontent .coffeebeans .coffeebeansWrap .coffeeTxtWrap{
    width: 380px;height: 242px;
    display: flex;justify-content: center;_align-items: center;
    flex-direction: column;
    padding: 5px;
}

.maincontent .coffeebeans .coffeebeansWrap p:first-of-type{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #071F60;
    margin-bottom: 15px;
}
.maincontent .coffeebeans .coffeebeansWrap p:last-of-type{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}













/* pc버전 */
@media screen and ( min-width:700px ){
    
    

    /* header  */
    #main_header{height: 100px;}

    .headerwrap{
        width: 100%;background: #fff;height: 100px;
        display: flex;justify-content: center;align-items: center;
        position: fixed;z-index: 1;
        box-shadow: 0 5px 10px rgba(0,0,0,0.3);
        
    }

    #header_top{
        width: 1240px;
        position: fixed;left: 50%;transform: translateX(-50%);
        display: flex;justify-content: space-between;align-items: center;
    }
    
    #header_top .gnb img{display: none;}
    .gnb>ul>li:hover a.on1{transform: scale(1.1);}
    #header_top .gnb>ul>li{float: left;position: relative;}
    #header_top .gnb>ul>li>a{
        display: block;line-height: 50px;
        text-align: center;padding: 0 30px;
    }
    .toggle{display: none;}


    /* submenu  */
    .submenubar{
        width: 100%;height: 170px;
        background: #FDE509;top: -100px;
        position: absolute;z-index: 1;
    }
    .submenu1{
        display: none;
        width: 100%;position: absolute;
    }
    .submenu1 li{text-align: center;font-size: 11px;margin-bottom: 10px;}
    .submenu1 li:hover a{font-weight: bold;transform: scale(1.1);}
    .submenu1 li:first-child{
        text-align: center;
        font-size: 11px;padding-top: 50px;
        
    }









    /* slider  */
    .slider #li_1st{background-image: url(../images/main_banner01.jpg);}
    .slider #li_2st{background-image: url(../images/main_banner02.jpg);}
    .slider #li_3st{background-image: url(../images/main_banner03.jpg);}

    .slider #li_1st,.slider #li_2st,.slider #li_3st{
        height: 600px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
    }

    .bx-wrapper .bx-pager{
        position: absolute;
        bottom: 30px;
        width: 100%;
    }
    
    

    .sliderwrap{position: relative;margin-bottom: 80px;}
    .nextBtn, .prevBtn{position: absolute;top: 50%;transform: translateY(-50%);cursor: pointer;}
    .nextBtn{right: 0;}


    /* content  */
    .content{
        width: 1240px;
        margin: 0 auto;
        margin-bottom: 80px;        
    }


    /* event  */
    .event{
        position: relative;width: 1240px;
        margin: 0 auto;display: flex;
        border: 1px solid #2E4D8E;
        box-sizing: content-box;
        margin-bottom: 80px;
    }
    


    /* event left  */
    .event .eventwrap{
        height: 620px;
        width: 310px;
        padding: 110px 40px;
        background: #2E4D8E;
        position: relative;
    }
    .event .eventwrap img{margin: 0 auto;margin-bottom: 20px;}
    .event .eventwrap h2{
        color: #fff;text-align: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 60px;
    }
    .event .eventwrap p:first-of-type{
        font-family:'Montserrat' ;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #fff;
        margin-bottom: 20px;
    }
    .event .eventwrap p:last-of-type{
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: -0.095em;
        color: #fff;
    }
    
    .event .eventwrap .btn{
        position: absolute;display: flex;
        right: 40px;bottom: 40px;
        cursor: pointer;
    }



    /* eventsliderwrap */
    .swiper{width: 930px;height: 620px;overflow: hidden;} 
    .swiper-wrapper{display: flex;}
    .swiper-slide{background: #fff;}
    .swiper-slide .bottom,.top2{
        width: 310px;height: 310px;
        display: flex;justify-content: center;align-items: center;flex-direction: column;
        text-align: center;
    }
    .swiper-slide .bottom p:first-of-type{margin-bottom: 20px;font-weight: bold;}
    .swiper-slide .top2 p:first-of-type{margin-bottom: 20px;font-weight: bold;}
    .swiper-slide .top2 p:last-of-type{font-size: 15px;}
    .swiper-slide .bottom p:last-of-type{font-size: 15px;}
    .swiper-slide .bottom2,.swiper-slide .top{width: 310px;height: 310px;}


    .swiper-slide .top2,.swiper-slide .bottom{position: relative;}
    .swiper-slide .top2::after{
        content: "";display: block;
        border-width: 30px;
        border-color: #fff transparent transparent transparent ;
        border-style: solid;
        width: 60px;
        box-sizing: border-box;
        position: absolute;bottom: -60px;
    }
    .swiper-slide .bottom::after{
        content: "";display: block;
        border-width: 30px;
        border-color: transparent transparent #fff transparent ;
        border-style: solid;
        width: 60px;
        box-sizing: border-box;
        position: absolute;top: -60px;
    }



    /* management  */
    .management{width: 1240px;margin: 0 auto;display: flex;margin-bottom: 60px;}
    .management .manage,.management .employ{width: 620px;height: 310px;color: #fff;}
    .management .manage{background: #FFE600;padding: 40px;position: relative;}
    .management .employ{background: #FFC123;padding: 40px;position: relative;}
    .management .manage img,
    .management .employ img{position: absolute;right: 40px;top: 50%;transform: translateY(-50%);}
    .management .manage h3,.management .employ h3{
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
    }
    .management .manage h3::after,
    .management .employ h3::after{
        content: "";display: block;
        width: 60px;height: 4px;background: #fff;
        margin: 20px 0;
    }

    .management .manage p:first-of-type,.management .employ p:first-of-type{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 40px;
        
    }

    .management .manage a:last-of-type, .management .employ a:last-of-type{
        border: 2px solid #fff;
        color: #fff;
        width: 168px;height: 49px;
        display: flex;justify-content: center;align-items: center;
        cursor: pointer;
    }


    /* footer  */
    .footerwrap{
        margin: 0 auto;width: 1240px;
        position: relative;height: 200px;
    }
    .footerwrap .footerRight ul li{float: left;margin-bottom: 5px;}
    .footerwrap .footerRight ul:last-of-type{margin-bottom: 15px;}
    .footerwrap .footerRight ul li a{
        position: relative;
        color: #262626;
        font-size: 13px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        padding: 0 30px;
    }
    
    .footerwrap .footerRight ul li a:after{
        content: "";display: block;
        background: #262626;
        position: absolute;
        width: 1px;height: 10px;top: 3px;
        right: 0;
        }

    .footerwrap .footerRight ul li:first-child a{
        padding-left: 0;
    }
    .footerwrap .footerRight ul li:last-child a::after{
        content: "";display: none;
    }

    .footerRight p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: -0.005em;
    }
    .footerForm .form select{
        width: 175px;
        height: 30px;
        font-size: 12px;color: #262626;
        padding: 8px 7px;
    }
    
    .footerwrap .footerRight{float: right;position: absolute;left: 300px;}
    #footer::before{
        content: "";display: block;
        width: 100%;height: 3px;
        background: #FFE600;
        margin-bottom: 45px;
    }
    .footerwrap img{float: left;}
    .footerForm{position: absolute;right: 0;}
    .topUp img{position: absolute;right: 0;top: 50px;}




    /* subcontent  */
    
    .maincontent .paiks{padding-top: 110px;}
    .maincontent img{margin: 0 auto;}
    .submenu .tab li{cursor: pointer;}
    .submenu .tab li.on{background: #FFE600;}
    .maincontent div{display: none;}
    .maincontent div:first-child{display: block;}
    

    
    

    

    
}




/* 모바일 버전 */
@media screen and ( max-width:699px ){

    /* header  */
    #main_header{}

    .logo img{width: 165px;height: 55px;}

    #header_top{
        padding: 0 16px;
        position: fixed;width: 100%;
        display: flex;justify-content: space-between;align-items: center;
        
    }
    .headerwrap{
        width: 100%;background: #fff;height: 80px;
        display: flex;justify-content: center;align-items: center;
        position: fixed;z-index: 1;
    }


    /* header_gnb */
    #header_top .gnb{
        position: fixed;width: 100%;height: 100%;
        background: #fff;
        right: -100%;top: 0;z-index: 1;
        display: flex;justify-content: center;align-items: center;
        text-align: center;transition: 0.3s;
    }
    #header_top .gnb.view{right: 0;}
    #header_top .gnb a{
        line-height: 40px;height: 40px;
        width: 200px;display: block;
        font-size: 30px;font-weight: bold;
        color: #071F60;font-family: 'Noto Sans KR', sans-serif;
    }
    #header_top .gnb li{margin-bottom: 35px;}

    #header_top .gnb img{position: absolute;bottom: 0;left: 0;}



    /* toggle  */
    .toggle{display: block;}
    .toggle{
        width: 40px;height: 40px;
        position: relative;
        z-index: 2;
        cursor: pointer;
    }
    .toggle div{
        position: absolute;
        width: 30px;height: 3px;
        background: #071F60;
        top: 50%;left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 20px;
        transition: 0.3s;
    }
    .toggle .bar1{top: 10px;}
    .toggle .bar3{top: 30px;}

    .toggle.active .bar1{top: 50%;transform: translate(-50%,-50%) rotate(45deg);}
    .toggle.active .bar2{opacity: 0;}
    .toggle.active .bar3{top: 50%;transform: translate(-50%,-50%) rotate(-45deg);}


    /* slider  */
    .bx-wrapper .bx-pager{
        position: absolute;
        bottom: 30px;
        width: 100%;
    }
    
    .bx-wrapper .bx-pager.bx-default-pager a{
        background: #fff;transition: 0.3s;
        width: 8px;height: 8px;
    }
    .bx-wrapper .bx-pager.bx-default-pager a:hover{background: #1982CF;}
    .bx-wrapper .bx-pager.bx-default-pager a.active{background: #1982CF;}


    .sliderwrap{position: relative;}
    .slider .li_1st{background-image: url(../images/mobile_banner01.png);}
    .slider .li_2st{background-image: url(../images/mobile_banner02.png);}
    .slider .li_3st{background-image: url(../images/mobile_banner03.png);}


    .slider .li_1st,.slider .li_2st,.slider .li_3st{
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .nextBtn, .prevBtn{display: none;}

    
    /* content  */
    .content{width: 100%;}
    .content>ul>li{width: 50%;order: 10;}

    .content>ul>li:nth-child(1){order: 1;}
    .content>ul>li:nth-child(4){order: 2;}
    .content>ul>li:nth-child(5){order: 3;}
    .content>ul>li:nth-child(6){display: none;}
    .content>ul>li:nth-child(7){order: 4;}
    .content>ul>li:nth-child(9),
    .content>ul>li:nth-child(10){display: none;}
    .content>ul>li:nth-child(2),
    .content>ul>li:nth-child(3),
    .content>ul>li:nth-child(8){
        width: 100%;background-size: cover;background-position: center;height: 220px;}


    /* content .2 new */
    .content>ul>li:nth-child(2){padding: 20px;}
    .content>ul>li:nth-child(2) .new .line1{
        width: 60px;height: 2px;background: #6D4D30;
        margin-top: 0;margin-bottom: 5px;
    }
    .content>ul>li:nth-child(2) .new p{color: #222222;text-shadow: 0 0 5px #fff;}


    /* content .3 ice */
    .content>ul>li:nth-child(3){padding: 20px;}
    .content>ul>li:nth-child(3) .ice .line2{
        width: 35px;height: 2px;background: #071F60;
        margin-top: 0;margin-bottom: 5px;
    }

    /* content .8 dessert */
    .content>ul>li:nth-child(8){padding: 20px;}
    .content>ul>li:nth-child(8) .dessert .line3{
        width: 100px;height: 2px;background: #fff;
        margin-top: 0;margin-bottom: 5px;
    }


    .content>ul>li h1{
        font-size: 50px;
        font-weight: bold;
        line-height: 61px;
    }
    .content>ul>li h2{
        font-size: 25px;
        font-weight: 800;
        line-height: 43px;
        font-style: normal;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    
        /* font-family: 'Montserrat'; */
    }
    .content>ul>li h3{
        font-size: 20px;
        font-weight: bold;
        line-height: 37px;
        font-style: normal;
        letter-spacing: 0.005em;
        font-family: 'Montserrat', sans-serif;
    }
    
    .content>ul>li p{
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 24px;
    }

    /* vision  */
    .vision{display: none;}


    /* event  */
    .event{display: none;}


    /* management */
    .management{display: none;}



    /* footer  */
    .footerwrap{
        width: 100%;position: relative;
        height: 300px;padding: 30px;
        margin: 0 auto;
    }
    #footer::before{
        content: "";display: block;
        width: 100%;height: 3px;
        background: #FFE600;
    }
    .footerwrap>img{
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .footerwrap .topUp{
        position: absolute;
        bottom: 15px;right: 10px;
        position: fixed;
    }
    .footerwrap .footerForm{
        position: absolute;
        transform: translateX(-50%);left: 50%;
        
    }

    .footerwrap .footerRight ul{display: inline-block;}
    .footerwrap .footerRight ul li{
        padding-right:10px;
        float: left;
    }
    .footerwrap .footerRight ul li:last-child{
        padding-right: 0;
    }
    .footerwrap .footerRight ul li a{
        text-align: center;
    }
    
    
    .footerwrap .footerRight{margin: 0 auto;text-align: center;}
    .footerwrap .footerRight ul:last-of-type{margin-bottom: 20px;}
    .footerwrap .footerRight ul li a{
        font-size: 10px;
    }
    .footerwrap .footerRight p{
        font-size: 10px;margin-bottom: 20px;
    }




    /* subpage  */
    
    .subcontent .submenu{
        width: 100%;height: initial;
    }
    .subcontent .submenu ul li{
        _width: 50%;
    }


    /* submenu  */
    .subcontent.menu .submenu ul li{width: calc(100% / 3);}
    .subcontent.menu .submenu ul li:nth-child(4),.subcontent.menu .submenu ul li:nth-child(5){
        width: 50%;
    }
    .subcontent.news .submenu ul li{width: calc(100% / 3);}
    .subcontent.news .submenu ul li:last-child{width: 100%;}

    .maincontent img{width: 90%;margin: 0 auto;}

    .maincontent div{display: none;}
    .maincontent div:first-child{display: block;}

    .submenu .tab li.on{background: #FFE600;}


    
}