@charset "utf-8";
body{
    font-family: 'Noto Sans KR', sans-serif;
}
/* header start */
.headerTopWrap{
    background:#0763a2 url(../images/topbg01.jpg) no-repeat center;
}
.headerTop{
    width: 980px;margin: 0 auto;
    color: white;position: relative;
    height: 90px;
    display: flex;justify-content: space-between;align-items: center;
}
.search{position: relative;}
.searchTitle{
    display: block;position: absolute;width: 60px;height: 20px;
    background: url(../images/searchtext.jpg);
    text-indent: -9999px;top: 50%;transform: translateY(-50%);left: 13px;
}
.searchInp{
    width: 291px;height: 30px;border-radius: 25px;
    border: 1px solid #000;text-indent: 85px;
    font-size: 14px;color: #6F7376;
}
.searchBtn{
    position: absolute;right: 12px;top: 50%;
    transform: translateY(-50%);
    width: 20px;height: 20px;
    text-indent: -9999px;border: none;
    background: url(../images/search.jpg) no-repeat center;
}
.headerTop h3{right: 20px;}
div.snsMenu{display: flex;justify-content: space-between;align-items: center;}
div.snsMenu h3{padding: 0 15px 0 0;font-size: 27px;}
div.snsMenu img{padding: 0 4px 0 0;}
div.snsMenu img:last-child{padding-right: 0 ;}

/* div.nav ul{
    display: flex;justify-content: space-between;align-items: center;
    width: 980px;margin: 0 auto;height: 59px;position: relative;
}
div.nav ul li{width: calc(980px / 6);text-align: center;}
div.nav ul li:after{
    content: "";display: block;position: absolute;
    width: 1px;height: 59px;background: #E9E9E9;top: 0px;
} */
div.nav ul{width: 980px;margin: 0 auto;}
div.nav ul li{
    float: left;width: calc(980px / 6);text-align: center;border-right: 1px solid #E9E9E9;
    height: 59px;display: flex;justify-content: center;align-items: center;
    font-size: 19px;color: #48545C;
}
div.nav ul li:first-child{border-left: 1px solid #E9E9E9;}
div.nav ul li:nth-child(4){position: relative;}
div.nav ul li:nth-child(4) img{display: block;position: absolute;top: 15px;right: 28px;}

div.box{width: 100%;height: 5px;background: #FFEE55;margin-bottom: 56px;}

/* header end  */

/* contents start  */

/* .contentWrap{background: url(../images/bg_sky.png) no-repeat center;height: 1236px;} */
.sliderWrap{display: flex;}
.content_1st{width: 980px;margin: 0 auto;}
.sliderWrap{width: 482px;position: relative;}
.bxPager img{float: left;padding:0 8px}
.bxPager a{
    font-size: 16px;color: #fff;background: #006599;
    width: 132px;height: 77px;display: flex;justify-content: center;align-items: center;}
.bxPager a:hover{color: #414141;background: #fff;}
.bxPager a.active{color: #414141;background: #fff;}
.bxPager a{border-bottom: 1px solid #fff;}


fieldset{border: 0;}
        .blind{display: block;position: absolute;left: 0;top: -9999px;}
        .form{width: 400px;margin: 0 auto;}
        .form label{display: block;padding: 5px 0;}
        .form select{
            width: 100%;height: 40px;font-size: 1em;
            border-radius: 5px;text-indent: 10px;
        }
        .form .left,
        .form .right{width: 195px;float: left;}

        .form .left{margin-right: 10px;}

        .form .left input,
        .form .right input{
            width: 100%;
            height: 40px;font-size: 1em;
            border-radius: 5px;text-indent: 10px;
        }
        .searchimg{display: block;background-image: url(../images/search\ red.png);}



/* contents end  */


