@charset "utf-8";
body{
    font-family: 'Noto Sans KR', sans-serif;
    _overflow-x: hidden;
    min-width: 980px;
}
/* header start */

.headerTopWrap{
    background:#0763a2 url(../images/topbg01.jpg) no-repeat center;
}
.headerTop{
    width: 980px;margin: 0 auto;
    color: white;position: relative;
    height: 90px;
    display: flex;justify-content: space-between;align-items: center;
}
.search{position: relative;}
.searchTitle{
    display: block;position: absolute;width: 60px;height: 20px;
    background: url(../images/searchtext.jpg);
    text-indent: -9999px;top: 50%;transform: translateY(-50%);left: 13px;
}
.searchInp{
    width: 291px;height: 30px;border-radius: 25px;
    border: 1px solid #000;text-indent: 85px;
    font-size: 14px;color: #6F7376;
}
.searchBtn{
    position: absolute;right: 12px;top: 50%;
    transform: translateY(-50%);
    width: 20px;height: 20px;
    text-indent: -9999px;border: none;
    background: url(../images/search.jpg) no-repeat center;
}
.headerTop h3{right: 20px;}
div.snsMenu{display: flex;justify-content: space-between;align-items: center;}
div.snsMenu h3{padding: 0 15px 0 0;font-size: 27px;}
div.snsMenu a{padding: 0 4px 0 0;}
div.snsMenu img:last-child{padding-right: 0 ;}


div.nav{background: #fff;}
div.nav ul{width: 980px;margin: 0 auto;}
div.nav ul li{
    float: left;width: calc(980px / 6);text-align: center;border-right: 1px solid #E9E9E9;
    height: 59px;display: flex;justify-content: center;align-items: center;
    font-size: 19px;color: #48545C;
}
div.nav ul li:first-child{border-left: 1px solid #E9E9E9;}
div.nav ul li:nth-child(4){position: relative;}
div.nav ul li:nth-child(4) img{display: block;position: absolute;top: 15px;right: 28px;}

div.box{width: 100%;height: 5px;background: #FFEE55;_margin-bottom: 56px;}
/* header end  */





/* contents start  */
.contentWrap{
    _background-color: gray;
    background-image: url(../images/bg_sky.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.air{
    position: absolute;bottom: 0;left: 0;
    animation-name: air;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes air{
    from{bottom: 0;left: -500px;transform: scale(0.5);}
    to{bottom: 1800px;left: 2500px;transform: scale(2);}
}

/* content_1st  */
.ballon{
    right: 5px;
    position: absolute;
    animation-name: scroll;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
@keyframes scroll{
    from{top: 100px;}
    to{top: 130px;}
}


.sliderWrap{display: flex;padding: 56px 0 0 0;margin-bottom: 15px;}
.content_1st{
    width: 980px;margin: 0 auto;
    position: relative;margin-bottom: 17px;
}
.sliderWrap{width: 482px;position: relative;}

.bxPager .icon a{
    display: block;line-height: 77px;
    text-align: center;color: #fff;
}
.bxPager .icon a.active{background: #fff;color: #414141;}
.bxPager .icon a.active i{color: #006599;}
.bxPager .icon{width: 132px;height: 77px;background: #006599;}
.bxPager .icon i{margin-right: 8px;}
.bxPager .icon:hover a{color: #414141;background: #fff;}
.bxPager .icon:hover i{color: #006599;}
.icon{border-bottom: 1px solid #fff;}
.icon:last-child{border-bottom: none;}


.slider{width: 352px;}
.sldierform{width: 352px;height: 300px;}
.sliderLi{height: 300px;padding: 25px 34px;}

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: #fff;
    width: 352px;
    height: 308px;
    margin-bottom: 0;
}



fieldset{border: 0;}
        .blind{
            display: block;position: absolute;
            left: 0;top: -9999px;
        }
        .form{width: 352px;margin: 0 auto;}
        .form label{display: block;padding: 5px 0;}
        .form select{
            width: 276px;height: 30px;font-size: 1em;
            border-radius: 5px;text-indent: 10px;
        }
        .form .left,
        .form .right{width: 137px;float: left;}

        .form .left{margin-right: 10px;}

        .form .left input,
        .form .right input{
            width: 130px;
            height: 30px;font-size: 1em;
            border-radius: 5px;text-indent: 10px;
            
        }
        .form .reserve input{
            background-image: url(../images/search_red.png);text-indent: -9999px;
            width: 278px;height: 38px;border: none;
            margin-top: 20px;
        }
        .left select.grade{width: 130px;}



.biglogo{position: absolute;top: 56px;right: 80px;}  
.biglogo h1{font-size: 70px;text-shadow: 0 0 10px #fff;}    
.biglogo h3{
    font-size: 30px;font-weight: normal;
    margin-top: 15px;
    text-shadow: 0 0 10px #fff;
}
.underline{
    width: 83px;height: 5px;background: #000;
    position: absolute;
    right: 10px;top: 90px;
    box-shadow: 0 0 30px #fff;
    
}

/* france / japan  */
.fjwrap{position: relative;width: 980px;margin: 0 auto;}
.fjwrap ul li{float: left;_width: calc( ( 483px - 17px ) / 2 );}
.francewrap{margin-right: 17px;}
.fjwrap ul li:last-child{margin-right: 0;}
.francewon{
    background: #152630;
    width: 233px;height: 50px;
    padding: 15px 20px;
}
.francewon ul li{float: left;position: relative;}
.francewon ul li:first-child{font-size: 16px;color: #fff;padding-right: 14px;line-height: 20px;}
.francewon ul li:nth-child(2){font-size: 18px;color: #6ABC5F;padding-right: 10px;line-height: 20px;}
.francewon ul li img{position: absolute;top: 4px;}

.japanwon{
    background: #152630;
    width: 233px;height: 50px;
    padding: 15px 20px;
}
.japanwon ul li{float: left;position: relative;}
.japanwon ul li:first-child{font-size: 16px;color: #fff;padding-right: 40px;line-height: 20px;}
.japanwon ul li:nth-child(2){font-size: 18px;color: #6ABC5F;padding-right: 10px;line-height: 20px;}
.japanwon ul li img{position: absolute;top: 4px;}



/* content_2st */
.content_2st{width: 980px;margin: 0 auto;margin-bottom: 17px;position: relative;}
.pariswrap{width: 233px;height: 65px;background: #529252;padding: 10px 12px;}
.pariswrap p{font-size: 18px;color: #fff;margin-bottom: 3px;}

.content_2st .bx-wrapper{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: #fff;
    width: 233px;
    height: 240px;
    margin-right: 17px;
}

.bxslider>ul>li{float: left;margin-right: 17px;width: calc( (100% - 51px ) / 4 );}
.bxslider>ul>li:last-child{margin-right: 0;}
.bxsliderwrap{position: relative;}
.nextBtn,.prevBtn{position: absolute;cursor: pointer;}
.nextBtn{top: 68px;left: 198px;}
.prevBtn{top: 68px;left: 0;}


.bxsliderwrap2{position: relative;}
.diswrap{width: 233px;height: 65px;background: #152630;padding: 10px 12px;}
.diswrap p{font-size: 18px;color: #fff;margin-bottom: 3px;}
.nextBtn2,.prevBtn2{position: absolute;cursor: pointer;}
.nextBtn2{top: 68px;left: 447px;}
.prevBtn2{top: 68px;left: 249px;}




.parisWeather{position: relative;}
.weather ul li{float: left;}
.parisWeather li h2{
    font-size: 20px;color: #fff;font-weight: normal;
    position: absolute;top: 13px;right: 93px
    
}
.weather{width: 233px;height: 65px;background: #152630;padding: 5px 12px;}
.weather h3{font-size: 20px;color: #fff;font-weight: normal;}
.cloud{font-size: 16px;color: #fff;font-weight: normal;margin-left: 5px;}
.weather p{font-size: 16px;color: #BBBBBD;}


.goodparis{width: 233px;height: 65px;background: #44619D;padding: 5px 12px;}
.goodparis h3{font-size: 17px;color: #fff;font-weight: normal;}
.gd{margin-left: 5px;font-weight: normal;}
.goodparis p{font-size: 15px;color: #fff;font-weight: normal;}




/* content_3rd */
.content_3rd{width: 980px;margin: 0 auto;margin-bottom: 25px;}
.content_3rd .wow ul li{float: left;margin-right: 17px;width: calc( (100% - 51px ) / 4 );overflow: hidden;}
.content_3rd .wow ul li:last-child{margin-right: 0;}
.content_3rd .vacationwrap{
    position: relative;
}
.vacationwrap img{
    width: 100%;
    transition: 0.3s;
    opacity: 0.9;
}
.vacationwrap:hover img{
    transform: scale(1.1);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}
.vacationwrap:hover .vacation{top: 142px;}

.vacation{
    position: absolute;top: 15px;left: 30px;
    text-align: center;
    transition: 0.3s;
}
.content_3rd a{font-size: 20px;color: #fff;text-shadow: 0 0 10px #000;}
.content_3rd i{margin-right: 3px;}
.content_3rd p{font-size: 14px;color: #fff;margin-top: 8px;}


.circle{
    position: absolute;width: 30px;height: 30px;border-radius: 50%;
    border: 2px solid #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);
    _box-shadow: 0 0 10px #000;
}
.circle .bar1, .circle .bar2{
    width: 10px;height: 2px;background: #fff;
    border-radius: 2px;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);

}
.vacationwrap:hover .circle{
    transition: 0.3s;
    animation-duration: 0.3s;
}

.circle .bar1{transform: translate(-50%,-50%) rotate(90deg);}

.vacationwrap:hover .circle{
    animation-name: ani;
}
@keyframes ani{
    from{transform: translate(-50%,-50%);}
    to{transform: translate(-50%,-50%) rotate(360deg);}
}

.vacationwrap .bg{
    width: 100%;height: 100%;background-color: #000;
    position: absolute;top: 0;
    opacity: 0;transition: 0.3s;
}
.vacationwrap:hover .bg{opacity: 0.5;}


/* contents end  */


/* footer start  */
.footer{margin-bottom: 20px;}
.footerwrap{width: 980px;margin: 0 auto;}
.footertop{margin-bottom: 10px;}
.footertop ul li{float: left;margin-right: 25px;}
.footertop ul li a{font-size: 14px;color: #252525;}
.footerbottom p{font-size: 12px;color: #727272;}

/* footer end */






/* subpage  */
/* sub company  */
body.sub{background: #ECECEC;}
.subcontent .subimg{
    height: 250px;
    display: flex;justify-content: center;align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.subcontent .subimgtitle{text-align: center;transform: translateY(-30px);}
.subcontent .subimgtitle h3{
    font-size: 2em;_text-shadow: 0 0 10px #fff;
    color: #fff;
}
.subcontent .subimgtitle p{_text-shadow: 0 0 10px #fff;color: #fff;}
.subcontent .subimgtitle h3:after{
    content: "";display: block;
    width: 80%;height: 2px;
    background: #fff;
    margin: 10px auto;
}
.container{width: 980px;margin: 0 auto;padding: 30px 0;}
.container img{display: block;margin:0 auto;padding: 20px 0;}
.container{
    _border: 1px solid #000;
    border-top: 5px solid #FFEE55;
    border-bottom: 5px solid #FFEE55;
    position: relative;top: -50px;
    background: #fff;
}
.location{
    width: 860px;margin: 0 auto;font-size: 14px;
    position: absolute;top: -30px;left: 0;
    color: #fff;
}
.subcontent.company .subimg{
    background-image: url(../images/companyinfo.png);  
}

.subcontent.city .subimg{
    background-image: url(../images/citytour_img.png);  
}
.subcontent.company{_position: relative;}
.subwrap{background: #000;}
.submenuwrap{
    width: 980px;height: 30px;
    top:0;min-width: 980px;position: relative;
    margin: 0 auto;
}
.submenu{position: absolute;_background: orange;left: calc( 50% + 100px);}

.submenu ul li{float: left;margin-right: 15px;}
.submenu ul li a{font-size: 15px;color: #C1C2C7;}



