@charset "utf-8";
body{font-family: 'NanumGothic';}

/* header  */
header#header{}
header#header div.topWrap{background: #0044AF;margin: 0 auto;}
div.utilWrap{
    width: 1200px;margin: 0 auto;background: #0044AF;position: relative;
}
div.util1{float: left;}
div.util2{float: right;}

div.utilWrap div.util1 ul li{float: left;padding: 0 2px;padding-left: 0;}
div.util1 ul li a{
    display: block;text-align: center;line-height: 40px;
    width: 120px;
    padding: 0 12px;height: 40px;
    color: #F8F8F8;font-size: 15px;
    background: #00163B;
}
div.util1 ul li a:hover{
    background-color: #FFFFFF;
    color: #6A6A6A;
}

div.utilWrap div.util2 ul li{float: left;}
div.util2 ul:nth-child(1){
    display: block;text-align: center;line-height: 40px;
    _padding: 0 10px;height: 40px;font-size: 12px;
    color: #D2D2D0;
}


div.util2 ul li a{
    display: block;text-align: center;line-height: 40px;
    padding: 0 8px;height: 40px;
    color: #FEFFFF;font-size: 12px;
    padding-right: 0;
}


div.util2 ul li:nth-child(2) a{
    float: left;width: 16px;height: 16px;background: #fff;line-height:16px;color:#9B9B9B;text-align: center;
    padding:0;font-size: 10px;margin-right: 3px;margin-left: 2px;
}
div.util2 ul li:nth-child(2) a:last-child{margin-right:0;}

div.util2 ul li:nth-child(2){
    padding:0 11px;padding-top:12.5px;
}

/* div.util2 ul li:nth-child(2){}
div.util2 ul li:nth-child(2) a{
    float: left;width: 16px;;height: 16px;margin-top: 0;
    background: #fff;
} */








div.navWrap{
    width: 1200px;margin: 0 auto;
    background: #ffffff;
    
}
div.navWrap img{float: left;padding: 31.5px 0;}
div.navWrap nav.gnb{float: right;}
div.navWrap nav.gnb ul li{float: left;left: 20px;}
div.navWrap nav.gnb ul li a{
    display: block;text-align: center;line-height: 117px;
    height: 117px;padding: 0 25px;
    color: #464646;font-size: 19px;
    padding-right: 0;
}



